<ion-content>
  <div class="titleBg">
  </div>
  <super-tabs>
    <super-tab class="supertabTitle" [root]="tab1Root" title="LIFE TO SAVE"></super-tab>
    <super-tab class="supertabTitle" [root]="tab2Root" title="BLOOD BANKS"></super-tab>
    <super-tab class="supertabTitle" [root]="tab3Root" title="DONORS"></super-tab>
  </super-tabs>
</ion-content>