<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Inbox" tabIcon="mail-open"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="My Points" tabIcon="basket"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Home" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Search" tabIcon="search"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Chat" tabIcon="chatbubbles"></ion-tab>
</ion-tabs>