<ion-content>
  <ion-row>
    <ion-col>
      <div class="cardTitle">
        1.BLOOD REQUESTS
      </div>
    </ion-col>
    <ion-col>
      <select>
        <option>All</option>
        <option>o-</option>
        <option>o+</option>
        <option>A-</option>
        <option>A+</option>
        <option>B-</option>
        <option>B+</option>
        <option>AB-</option>
        <option>AB+</option>
      </select>
    </ion-col>
  </ion-row>
  <ion-card>
    <ion-row>
      <ion-col col-3>
        <div class="imgBG"></div>
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-col col-6>
            <span class="title"> 21 Jun 2018 </span>
          </ion-col>
          <ion-col col-6>
            <span class="title"> 2hours More </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <ion-icon></ion-icon>
            <span> A.Vignesh Kumar </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <span>Age: </span>
            <span>35 </span>
          </ion-col>
          <ion-col col-6>
            <span>No of units: </span>
            <span>9 </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <span>For: </span>
            <span>Operation </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <span>Hospital: </span>
            <span>Kaveri Hospital, Dharmapuri </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-icon name="person"></ion-icon>
            <span> Krishna Kumar </span>
          </ion-col>
          <ion-col>
            <ion-icon name="flag"></ion-icon>
            <span> Report Abuse </span>
          </ion-col>
          <ion-col>
            <ion-icon name="call"></ion-icon>
            <span> call </span>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card style="position: relative;">
    <div class="cardExpireImage"></div>
    <ion-row>
      <ion-col col-3 class="opacity-50">
        <div class="imgBG"></div>
      </ion-col>
      <ion-col class="opacity-50">
        <ion-row>
          <ion-col col-6>
            <span class="title"> 21 Jun 2018 </span>
          </ion-col>
          <ion-col col-6>
            <span class="title"> 2hours More </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <ion-icon></ion-icon>
            <span> A.Vignesh Kumar </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <span>Age: </span>
            <span>35 </span>
          </ion-col>
          <ion-col col-6>
            <span>No of units: </span>
            <span>9 </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <span>For: </span>
            <span>Operation </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <span>Hospital: </span>
            <span>Kaveri Hospital, Dharmapuri </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-icon name="person"></ion-icon>
            <span> Krishna Kumar </span>
          </ion-col>
          <ion-col>
            <ion-icon name="flag"></ion-icon>
            <span> Report Abuse </span>
          </ion-col>
          <ion-col>
            <ion-icon name="call"></ion-icon>
            <span> call </span>
          </ion-col>
        </ion-row>
      </ion-col>


    </ion-row>

  </ion-card>
  <ion-row>
    <ion-fab class="buttonColor" right bottom>
      <button ion-fab (click)="fabIconAction()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
  </ion-row>
</ion-content>