// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.titleBg{
    background: url('./../assets/imgs/header1.PNG') no-repeat;
    height: 80px;
    background-size: cover;
}
div.indicator.button-md-primary {
    background-color:#cc2407;
}
.title  {
    color: #cc4f07;
}

.imgBG {
    background: url('./../assets/imgs/A+.PNG') no-repeat;
    height: 80px;
    margin: 80px 0px 0px 20px;
}
.cardTitle {
    margin: 15px 0px 0px 12px;
}

.opacity-50{
    opacity: .5;
}
.cardExpireImage {
    background: url('./../assets/imgs/expired.png')  center / 150px 60px no-repeat;
    display: block;
    height: 150px;
    position: absolute;
    width: 180px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-2deg);
   
}

.fab-md{
    background-color:color($colors,secondary);
}

ion-fab[bottom]{
    bottom: 15px;
    margin: 0px 20px;
    position: fixed;
}
.drpDown {
    background: url('./../../assets/imgs/dropdown.PNG') no-repeat;
    height: 80px;
    margin: 80px 0px 0px 20px;
}